@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

body {
  /* Hide both vertical and horizontal scrollbars */
  /* overflow: hidden; */
}

/* Optionally, you can hide the scrollbar for a specific axis */

/* Hide vertical scrollbar */
body::-webkit-scrollbar {
  /* width: 10px; Adjust this value if needed */
  /* background-color: #dd1616;
  height: 50px; */
  /* display: none; */
}

/* Hide horizontal scrollbar */
body::-webkit-scrollbar-track {
  /* display: none; */
  /* width: 10px;  */

}

/* Base styles for the section */
.section {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 30px;
  color: white;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  box-shadow: 0 0 5px #7679fa;
}

.cursor:before {
  content: " ";
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  /*top: 50%;
  left: 50%; */
  transform: translate(-30%, -30%);
  border-radius: 50%;
  background-color: #6365f1bb;
  animation: blinkAnimation 1s infinite;
  /* Add the animation */
}

@keyframes blinkAnimation {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}




.bg-gray-grain {

  background-image: linear-gradient(135deg, #dedfe7 25%, transparent 25%), linear-gradient(225deg, #dedfe7 25%, transparent 25%), linear-gradient(45deg, #dedfe7 25%, transparent 25%), linear-gradient(315deg, #dedfe7 25%, #e5e5f7 25%);
  background-size: 4px 4px;
  background-repeat: repeat;
  background-attachment: fixed;
}
#header{
  position: fixed;
  top: 0;
}

.active {
  background-color: #6366f1;
  color: white;
  border-radius: 100%;
}

.bg-about {
  background-image: url("./assets/aina.png");
}



/* Responsive styles for smaller screens */
@media (max-width: 768px) {

  /* For screens with a width of 768 pixels or less */
  .section {
    flex-direction: column;
    text-align: center;
    height: auto;
    /* Adjust height to fit content */
    padding: 20px;
  }
}

/* Additional responsive styles for even smaller screens (optional) */
@media (max-width: 480px) {

  /* For screens with a width of 480 pixels or less */
  .section {
    font-size: 16px;
    /* Reduce font size for better readability */
  }
}


@media screen and (max-width:1023px) {
  #home {
    /* background-image: url("./assets/aina.png"); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: 80%;

  }

  #imgBanner{
    display: none;
  }

  #imgBannerContainer{
    display: none;
  }
  #bannerContent{
    margin-top: 80px;
  }

}

@media screen  and (max-width:450px){

 
  #navBottom{
    display: none;
  }
  
  #navCollapaseHumberger{
    display: block;
  }
  #navCollapase{
    display: flex;

  }
}